@model AbacusApp3.Models.Lokalizacja

@{
    ViewData["Title"] = "Details";
}

<h2>Lokalizacja</h2>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaLok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaLok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrDomu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrDomu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrLokalu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrLokalu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miejscowosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miejscowosc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LokalizacjaId">Edycja</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
