@model AbacusApp3.Models.Ksiegowanie

@{
    ViewData["Title"] = "Details";
}

<h2>Księgowanie</h2>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <div class="card">
        <dl class="row m-3">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row flex-nowrap">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Lokalizacja)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Lokalizacja.NazwaLok)
                    </dd>
                </div>

                <div class="d-flex flex-row flex-nowrap">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Konto)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Konto.NazwaKonta)
                    </dd>
                </div>

                <div class="d-flex flex-row flex-nowrap">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TerminPlatnosci)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TerminPlatnosci)
                    </dd>
                </div>

                <div class="d-flex flex-row flex-nowrap">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.KwotaWn)
                    </dt>
                    <dd class="col-sm-1"  style="text-align:right;">
                        @Html.DisplayFor(model => model.KwotaWn)
                    </dd>
                </div>

                <div class="d-flex flex-row flex-nowrap">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.KwotaWplaty)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.KwotaWplaty)
                    </dd>
                </div>

                <div class="d-flex flex-row flex-nowrap">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.KwotaMa)
                    </dt>
                    <dd class="col-sm-1" style="text-align:right;">
                        @Html.DisplayFor(model => model.KwotaMa)
                    </dd>
                </div>
            </div>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KsiegowanieId">Edycja</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
